@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body {
    background:#333;
    color:#fff;
    line-height: 1.6;
    font-family: Mate SC;
}



.header{
    background: rgba(0,0,0,.5);
}

.nav{
    display: flex;
    justify-content: space-between;
    max-width: 70rem;
    position: relative;
    margin: 0 auto;
    width: 100%;
    z-index: 10;

}


.socials {
    display: flex;
    justify-content: space-between;
    padding-top:5px;
    align-items: center;
}

.user{
    display: flex;
    justify-content: space-between;
    padding-top:5px;
    align-items: center;

}


.nav img{
    width: 30px;
    height: auto;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
}

/* top action div */



.action-div {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    max-width: 70rem;
    position: relative;
    margin: 5px auto;
    width: 100%;
    z-index: 10;
    align-items: center;
}


/* search */

.input-box{
    position: relative;
    height: 55px;
    max-width:350px;
    max-width:60px;
    width:100%;
    margin: 0 30px;
    border-radius:6px;
    background-color: white;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.input-box.open{
    max-width:350px;
}


.input-box input{
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0 15px;
    outline: none;
    border: none;
    font-size: 16px;
    font-weight: 400;
    color:black;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.input-box.open input{
    padding: 0 15px 0 65px;
}

.input-box .search {
    position:absolute;
    left:0;
    top:0;
    height:100%;
    width:60px;
    border-radius: 6px;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.input-box.open .search{
    border-radius: 6px 0 0 6px;
}


.search img{
    width: 50px;
}

#cancel{
    position:absolute;
    right:-45px;
    transform: translateY(-50%);
    padding:5px;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    opacity: 0;
    pointer-events: none;
    
}

.input-box.open #cancel{
    opacity: 1;
    pointer-events: auto;
    transform: translateY(-50%) rotate(180deg);
}







ul {
    display: flex;
    justify-content: space-between; 
}

li {
    list-style: none;
    padding:50px;
    cursor: pointer;
}

li:hover {
    color:#D20621;
}


ul li:nth-child(2) {
    color:#D20621;
    font-size: 2.5em;
    margin-top:-17px;
    font-weight: bold;

}

/* the middle section */

.middle {
    padding-top: 210px;
    display: flex;
    justify-content: center;
    max-width: 70rem;
    margin: auto;
    width: 100%;
    z-index: 10;
    align-items: center;
    font-family: Sacramento;
    font-size: 100px;

}

.middle1 {
    padding-top: 300px;
    display: flex;
    justify-content: center;
    max-width: 70rem;
    margin: auto;
    width: 100%;
    z-index: 10;
    align-items: center;
    font-family: Sacramento;
    font-size: 100px;
}


/* bottom section */


.bottom{
    padding-top: 200px;
    display: flex;
    justify-content: space-between;
    max-width: 70rem;
    position: relative; 
    margin:5px auto;
    width: 100%;
    z-index: 10;
    align-items: center;
}

.bottom-r {
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    max-width: 70rem;
    position: relative; 
    margin:5px auto;
    width: 100%;
    z-index: 10;
    align-items: center;
}

.bottom1{
    justify-content: space-between;
    max-width: 70rem;
    position: relative; 
    margin:100px auto;
    width: 100%;
    text-align: center;

}

.bottom2{
    justify-content: space-between;
    max-width: 70rem;
    position: relative; 
    margin:100px auto;
    width: 100%;
    text-align: center;

}

.bottom3{
    justify-content: space-between;
    max-width: 70rem;
    position: relative; 
    margin:100px auto;
    width: 100%;
    text-align: center;

}

.bottom a{
    color: #F8D3BD;
    text-decoration: none;
}

.bottom a:hover {
    color:#D20621;
}

.bottom-r a{
    color: #F8D3BD;
    text-decoration: none;
}

.bottom-r a:hover {
    color:#D20621;
}


/* slide styling */

.slider {
    position: relative;
    overflow: hidden;
    height: 100vh;
    width:100vw;
}


.slide {
    position: absolute;
    overflow: hidden;
    width:100vw;
    height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.slide.current{
    opacity:1;
}


.buttons button#next {
    position: absolute;
    top:50%;
    right:15px;
}

.buttons button#prev {
    position: absolute;
    top:50%;
    left:15px;
}


.buttons button {
border:2px solid #fff;
background-color: transparent;
color:#fff;
cursor: pointer;
padding: 13px 15px;
border-radius: 50%;
outline: none;
}

.buttons button:hover {
    background-color: #fff;
    color: #333;
}


@media(max-width: 500px) {
    .slide .content {
        bottom: -300px;
        left: 0;
        width:100%
    }

    .slide.current {
        transform: translateY(-300px);
    }
}


/*backround images*/

.slide:first-child {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.3)), url('./images/hero.jpg') no-repeat center center/cover;
}
.slide:nth-child(2) {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.3)), url('./images/rodina.png') no-repeat center center/cover;
}
.slide:nth-child(3) {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.3)), url('./images/jur3.png') no-repeat center center/cover;
}
.slide:nth-child(4) {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.3)), url('./images/jur4.png') no-repeat center center/cover;
}


